.mini-layout {
    margin-bottom: 20px;
    padding: 9px;
    height: 300px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.mini-layout-body {
    background-color: #dceaf4;
    margin: 0 auto;
    width: 70%;
    height: 300px;
    border-radius: 3px;
}
.mini-center{
    width:100%;
    height:300px;
    margin:auto;
    
}
form{
    height:40%;
    margin: auto;
}
p{
    font-size: large;
    color: dimgray;
}
